*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(168, 168, 168);
    font: normal 15pt Arial;
}

header{
    margin: 40px auto 0;
    color: white;
    text-align: center;
}

section{    
    background: white;
    margin: 60px auto 0;
    border-radius: 10px;
    padding: 15px;
    width: 380px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.205);
}

div.page{
    padding: 0;
    margin: 0 auto;
}

div{
    text-align: center;
    padding: 8px;
}

div#msg{
    width: 350px;
    height: 102px;
}

div#foto{
    width: 350px;
    height: 275px;
}

footer{
    /* padding-top: 300px; */
    margin: 45px auto 0;
    color: black;
    text-align: center;
}

.insta {
    width: 45px;
    height: 45px;
}

a {
    text-decoration: none;
}

a > p {
    margin: 0;
    padding-bottom: 5%;
    color: #ffffff;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0;
}

p{
    font-size: 20px;
    margin: 10px;
}